/*General*/
body{
  background: cornflowerblue;
}
.about{
  text-align: center;
}
h1{
  font-size: 50px;
}
h2{
  font-size: 35px;
}
p{
  font-size: 25px;
}

/*Main tabs*/
mat-tab-group{
  background: goldenrod;
}
mat-tab{
  background: cornflowerblue;
}
/*About me*/
/*Projects*/
/*Contact*/
